<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPyCalc</title>
    <style>
        input:invalid {
            border: 2px dashed red;
        }

        input:invalid:required {
            border: 2px dashed red;
        }

        input:valid {
            border: 2px solid black;
        }
    </style>
</head>

<body>

    <h1>MyPyCalc - Add</h1>
    <form action="/" method="POST">
        <input name="a" type="text" value="{{ request.form['a']|default(4) }}" required type="number" autofocus/> <br />
        <input name="b" type="text" value="{{ request.form['b']|default(3) }}" required type="number" /> <br />
        <button type="submit" value="Submit">Submit</button>
    </form>
    <form action="/kill" method="POST">
        <button type="submit" value="Submit">Kill Application</button>
    </form>

</body>

</html>
